@page "/designer-card"
@using scd_project.Models
<style>
    .custom
    {
        background-color: #ceedec;
    }
    .bu
    {
        background-color:#07a6a6;
    }
    .xy
    {
        color: #242f66;
        font-family: 'Merriweather', serif;
    }
</style>

<div class="card shadow rounded-4 text-center custom" style="width: 15rem; font-family: 'Lato', sans-serif;">
    <img src="/images/bg-cropped.png" class="card-img-top rounded-circle mx-auto mt-3" alt="Profile Picture" style="width: 120px; height: 120px; object-fit: cover;" />

    <div class="card-body ">
        <h5 class="card-title fw-bold xy">@* @designer.UserId *@Nmae</h5>
        <p class="card-text text-muted">
            @if (@* designer.IsAvailable *@ true)
            {
                <span class="badge bu">Available for Work</span>
            }
            else
            {
                <span class="badge bg-secondary">Currently Unavailable</span>
            }
        </p>
        <a href="/" class="btn btn-outline-info fw-medium">View Profile</a>
    </div>
</div>

@code {

    [Parameter] 
    public Designer designer { get; set; }
}
