@page "/designers"
@using scd_project.Models

<h2 class="text-center my-4" style="font-family: 'Merriweather', serif; color: #242f66;">
    Our Graphic Designers
</h2>

<div class="container">
    <div class="row g-4">
        @foreach (var designer in designers)
        {
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 d-flex justify-content-center">
                <DesignerCardComponent designer="@designer" ></DesignerCardComponent>
            </div>
        }
    </div>
</div>

@code {
    public List<Designer> designers{ get; set; }

}
